.page-header
  %h1 Разработчики

%table.table
  %thead
    %tr
      %th Имя
      %th Приложений
  %tbody
    - @developers.each do |dev|
      %tr
        %td
          = link_to developer_path(dev) do
            = image_tag dev.avatar.thumb_24.url
            = dev.name
        %td
          = dev.apps.count
