.page-header
  .pull-right= image_tag @developer.avatar.thumb_48.url if @developer.avatar.present?
  %h1= @developer.name
  .small "Приложений #{@developer.apps_count}"
.clearfix

- unless @current_bundles.empty?
  %h2 Приложения
  .row
    = render :partial => 'app', :collection => @current_bundles
