.row
  .login-block.span4.offset4
    %h1.login-block-title Сброс пароля

    = form_tag password_resets_path, :method => :post, :class => 'login-block-form' do
      = email_field_tag :email, nil, :placeholder => t('simple_form.labels.user.email'), :required => true
      = submit_tag t('simple_form.buttons.reset_password'), :class => "btn btn-primary"
