%h3
  Ура! Ваш email подтвержден.
  
%p     
  Адрес элкетронной почты "#{@user.email}" успешно подтвержден, спасибо. Теперь вы можете 
  =link_to "авторизоваться.", @url

%p
  =I18n.t('email.signature')
