- if @bundles.present?
  %h2.search-results-title.pull-left Доступные приложения (#{@bundles.count})

  = render :partial => 'system_switch'

  .clearfix

  .apps-list
    .row{ :rel => 'freetile-container' }
      = render :partial => 'app', :collection => @bundles
- else
  .row
    .span9
      .alert
        Приложений удовлетворяющих вашему запросу не найдено
    .span3
      = render :partial => 'system_switch'

