= simple_form_for @query, :url => search_apps_url, :method => :get, :html => {:class => 'form-inline'} do |f|
  .input-append
    = f.input :name, :placeholder => "Название приложения", :wrapper => :inline
    = f.button :submit, 'Найти', :class => 'btn btn-primary'

