=render 'apps/search_form'

- if @bundles.present?
  %h2 Доступные приложения (#{@bundles.count})
  .row{ :rel => 'freetile-container' }
    = render :partial => 'app', :collection => @bundles
- else
  .alert
    Приложений удовлетворяющих вашему запросу не найдено
