// require formtastic-bootstrap
// require select2
// require_self
// require jquery.ui.all

@import bootstrap_and_overrides

.footer
  border-top: 1px dashed #ccc
  margin-top: 60px
  padding-top: 20px

a.action-link
  font-size: 75%
  color: $gray

.supported_configurations
  .control-group
    label.control-label
      display: none
    //select.select
  //.controls
    //+tableColumns(4)
    //float: left
