// require formtastic-bootstrap
// require select2
// require_self
// require jquery.ui.all

@import bootstrap_and_overrides
@import login

.footer
  border-top: 1px dashed #ccc
  margin-top: 60px
  padding-top: 20px

a.action-link
  font-size: 75%
  color: $gray

a.developer_link
  .icon
    margin-right: 5px

.supported_configurations
  .control-group
    label.control-label
      display: none
    //select.select
  //.controls
    //+tableColumns(4)
    //float: left

.app-name
  a
    color: $black

.app-download
  margin-top: 8px

.app-desc
  margin-top: 8px

.app-version
  color: $gray
  font-weight: normal

.app-block.media
  margin-top: 15px
  margin-bottom: 15px
  // #border: 1px dashed #eee
  float: left
  +makeColumn(6)
  padding-bottom: 8px
  &:hover
    background-color: #fcfcfc
