// require formtastic-bootstrap
// require select2
// require_self
// require jquery.ui.all

@import bootstrap_and_overrides

.footer
  border-top: 1px dashed #ccc
  margin-top: 60px
  padding-top: 20px
