.kinds-nav
  li
    margin:
      right: 1em
    a
      +border-radius(6px 6px 0 0)
      background: lighten($grayLightest,3%)
      border-bottom: 2px solid $grayLight
      color: $textColor
      margin-bottom: 0
    &.active a
      border-bottom-color: darken($linkColor,10%)
      text-shadow: 0 1px 1px rgba($black,.3)
      color: $white
    a:hover
      text-shadow: none
      background: darken($grayLightest,5%)
      border-bottom-color: $gray


.app-name
  a
    color: $grayDarker

.app-block-container
  +makeColumn(6)
  margin:
    top: 0.75em
    bottom: 0.75em
  &:hover
    background-color: #fcfcfc 

.app-block
  padding: $appBlockMargin
  +border-radius(6px)
  +box-shadow(0 1px 7px rgba($black, .15))
  background: $white

.app-block-info
  margin-bottom: 0.5em

.app-name
  font-size: 1.2em
  margin-top: 0

.app-block-divider
  margin: 0.5em 0

.app-kind
  font-weight: normal
  line-height: $baseLineHeight
  @extend .v-align-top

@each $kind in (1 epf $epfColor), (2 epftab $epftabColor), (3 epfprint $epfprintColor), (4 erf $erfColor)
  .app-kind-#{nth($kind, 2)}
    color: nth($kind, 3)
  .label.app-kind-#{nth($kind, 2)}
    color: $white
    background-color: desaturate(nth($kind, 3),10%)
  .kinds-nav .app-kind-#{nth($kind, 1)} a
    border-bottom-color: lighten(nth($kind, 3),10%)
    &:hover
      color: $white
      border-bottom-color: darken(nth($kind, 3),10%)
      background-color: nth($kind,3)
  .kinds-nav .active.app-kind-#{nth($kind, 1)} a
    background-color: nth($kind,3)
    border-bottom-color: darken(nth($kind, 3),10%)

.app-desc
  margin: 0.5em 0

.app-version
  color: $gray
  font-weight: normal

.version-support-label

.version-support-kernel
  @extend .badge
  //background-color: rgb(250, 169, 56)
  background-color: darken($grayLight,10%)
  font-weight: normal
  line-height: $baseLineHeight
  @extend .v-align-top
  font-size: 1em
  text-shadow: 0 1px 2px rgba($black, .4)
  +border-radius(4px)
  margin:
    right: 4px
    bottom: 4px

.version-support-configs
  @extend .label
  @extend .v-align-top
  font-size: 0.8em
  font-weight: normal
  color: $textColor
  text-shadow: none
  line-height: $baseLineHeight
  background-color: lighten($grayLight,20%)
  margin:
    bottom: 4px


