%ul.nav
  %li
    %span.version-support-kernel= current_user_system.kernel_version
    %span.version-support-configs
      = current_user_system.configuration
      = current_user_system.configuration_version
    &nbsp;
    = link_to current_user_system.persisted? ? edit_user_system_path(current_user_system) : new_user_system_path(:user_system => current_user_system), :class => 'user-versions-link' do
      %small.v-align-top изменить

