= simple_form_for :session, :url => user_sessions_path, :method => :post do |f|
  = f.input :email
  = f.input :password
  .actions
    = f.button :submit, :class => "btn btn-primary", :value => t('simple_form.buttons.login')
