= link_to Settings.app.title, root_url, :class => 'brand'

-# .nav-collapse
-# Там только разработчики, не вижу пока смысла их показывать
-# = render_navigation  :expand_all => true, :renderer => :bootstrap
.nav-collapse
  %ul.nav
    %li
      = link_to '#', :class => 'user-versions-link' do
        %span.version-support-kernel 8.2
        %span.version-support-configs БухгалтерияПредприятия
        &nbsp;
        %small.v-align-top изменить
-# Характеристики пользовательской системы
  
= render_navigation  :expand_all => true, :renderer => :bootstrap, :context => :user
